<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.svg" alt="">&nbsp;StrapStone
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/">Home</a>
              </li> -->
        <li *ngIf="loggedin()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-job">Add New Job</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>

        <li *ngIf="loggedin()" class="nav-item dropdown">
          <a (click)="false" class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{loggedinUser}}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="#">View Dashboard</a></li> -->
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a (click)='onLogout()' class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
<div class="container mt-5 mb-5">
  <form class="">
    <div class="row g-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="State" aria-label="State">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success">Find Jobs</button>
      </div>
    </div>
  </form>
</div>