<div class="list-group-item list-group-item-action mb-1">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><a href="#" class="text-underline-hover">{{ job.title}}</a></h5>
        <small class="text-muted"><img src="{{ job.company_logo_url}}" alt="" srcset=""></small>
    </div>
    <p class="mb-1 company-name">{{job.company_name}}.</p>
    <p class="mb-1"><small class="text-muted">{{job.location}}</small></p>
    <small class="text-muted">{{job.posted_time}}</small>
</div>